{% extends '../base/base.html' %}

{% block title %}Об авторе{% endblock %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Об авторе проекта</h1>
        </div>
        <div class="custom-text-block">
                <ul>
                    <li><a href="www.facebook.com/theonlyegor">Facebook</a></li>
                    <li><a href="github.com/egorov-ev">GitHub</a></li>
                    <li><a href="t.me/e_egor">Telegram</a></li>
                </ul>
            </div>
    </main>
{% endblock %}
