{% extends '../base/base.html' %}

{% load static %}

{% block title %}Технологии{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Технологии</h1>
        </div>
        <div class="custom-center-block">
            <div class="custom-text-block">
                <p>При разработке приложения использованы:</p>
            </div>
            <div class="custom-text-block">
                <ul>
                    <li><a href="www.python.org">Python</a></li>
                    <li><a href="www.djangoproject.com">Django</a></li>
                    <li><a href="www.django-rest-framework.org">Django REST framework</a></li>
                    <li><a href="www.postgresql.org">PostgreSQL</a></li>
                    <li><a href="gunicorn.org">Gunicorn</a></li>
                    <li><a href="nginx.org">nginx</a></li>
                    <li><a href="www.docker.com">Docker</a></li>
                    <li><a href="github.com/features/actions">GitHub Actions</a></li>
                </ul>
                <div class="custom-text-block">
                    <p class="custom-text-block">Проект реализован в рамках обучения на курсе<a href="praktikum.yandex.ru/backend-developer">Python-разработчик</a><</p>
                    <a href="github.com/egorov-ev/foodgram-project">Репозиторий проекта на гитхаб</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
