{% extends '../base/base.html' %}

{% load static %}

{% block title %}Новый пароль{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="single-card__info" >
          <div class="single-card__section">
            <h3 class="single-card__section-title"></h3>
                <p class=" single-card__section-text">Следуйте инструкции по сбросу пароля отправленной на указанный адрес электронной почты.</p>
          </div>
        </div>
    </main>
{% endblock %}
