{% extends '../base/base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Новый пароль{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
     <main class="main container">
        <div class="single-card__info" >
          <div class="single-card__section">
            <h3 class="single-card__section-title"></h3>
            <p class=" single-card__section-text">Пароль успешно сброшен. <a href="{{ login_url }}">Войти на сайт.</a></p>
            <p></p>
          </div>
        </div>
    </main>
{% endblock %}
